<div class="flex flex-col">
  <% @list = @lists.sample %>
  <% if @list.bookmarks.empty? %>
  <div class="fotd flex h-[calc(100vh-2.5em)] w-full bg-cover top-0" style="background-image: url('https://m.media-amazon.com/images/M/MV5BZDkxZWJmYTYtZDk3NS00MWQ4LWE1YzctNDlkMWI1NjliYzQyXkEyXkFqcGdeQTNwaW5nZXN0._V1_.jpg')">
    <div class="fotd-content flex flex-col justify-end pl-16 pb-16 h-full w-full">
      <p class="text-4xl font-bold text-white"><%= (@list.name).upcase %></p>
      <p class="text-xl text-white"><%= @list.bookmarks.count %> movies</p>
    </div>
  </div>
  <% else %>
  <div class="fotd flex h-[calc(100vh-2.5em)] w-full bg-cover top-0" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=@list.bookmarks.first.movie.poster_url %>')">
    <div class="fotd-content flex flex-col justify-end pl-16 pb-16 h-full w-full">
      <p class="text-4xl font-bold text-white"><%= (@list.bookmarks.first.movie.title).upcase %></p>
      <p class="text-xl text-white w-[50%]"><%= @list.bookmarks.first.movie.overview %> </p>
      <p class="text-xl text-white "><%= @list.bookmarks.first.movie.release_date %></p>
      <p class="text-xl text-white "><%= @list.bookmarks.first.movie.original_language %></p>
    </div>
    <% end %>


  </div>
  <% @lists.each do |list| %>
    <div class="flex flex-col self-center w-full justify-center">
      <div class="movie self-center h-10">
        <%= link_to list.name, list_path(list) %>
      </div>
    </div>
  <% end %>
</div>
